<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        ROBLOX - a kids, parents, and family activity site for building toy amusement
        parks, rc cars, clothing, and electronic devices out of construction blocks that
        are as realistic as a movie or tv show
    </title>
    <style type="text/css">
        body {
            margin: 0;
        }

        body.banner {
            text-align: center;
        }

        a {
            color: gray;
            text-decoration: none;
        }

        a.ad {
            display: inline-block;
        }

        body.other a.ad {
            display: block;
        }

        a.ad img {
            display: block;
            border: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>

    <link rel="stylesheet" href="https://css.rbx2016.tk/page___b483ab74e2160d304742067e283b7b51_m.css">
</head>

<body class="abp other">
    <a class="ad" title="Get More With Builders Club" href="https://www.rbx2016.tk/premium/membership" target="_top">
        <img src="https://images.rbx2016.tk/f6873fd4b192df10f0cb0f41f6a344e8.jpg" alt="Get More With Builders Club" height="600"
            width="160">
    </a>

    <div class="ad-annotations " style="width: 160px">
        <span class="ad-identification">Advertisement</span>
    </div>

</body>

</html>