<!DOCTYPE html>
<html id="www-roblox-com">
<!-- MachineID: WEB67 -->

<head>
    <title>
        Site Offline
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,requiresActiveX=true" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ROBLOX Corporation" />
    <meta name="description"
        content="ROBLOX is powered by a growing community of over 300,000 creators who produce an infinite variety of highly immersive experiences. These experiences range from 3D multiplayer games and competitions, to interactive adventures where friends can take on new personas imagining what it would be like to be a dinosaur, a miner in a quarry or an astronaut on a space exploration." />
    <meta name="keywords"
        content="free games, online games, building games, virtual worlds, free mmo, gaming cloud, physics engine" />
    <meta name="apple-itunes-app" content="app-id=431946152" />
    <meta name="google-site-verification" content="KjufnQUaDv5nXJogvDMey4G-Kb7ceUVxTdzcMaP9pCY" />

    <link rel='stylesheet' href='https://static.rbx2016.tk/css/MainCSS___17f21dbd675f4bdb077b6158df213e11_m.css' />

    <link rel='stylesheet' href='https://static.rbx2016.tk/css/page___f8474116137f9f0c643602405074e40b_m.css' />

    <link href="https://images.rbx2016.tk/7aee41db80c1071f60377c3575a0ed87.ico" rel="icon" />

    <link rel="canonical" href="https://www.rbx2016.tk/Login/FulfillConstraint.aspx"" />
    
<script type='text/javascript' src='/js/jquery-1.11.1.min.js'></script>
<script type='text/javascript'>window.jQuery || document.write(" <script type='text/javascript'
        src='/js/jquery/jquery-1.11.1.js'>
    <\/script>") </script> <script type='text/javascript'
        src='/js/jquery-migrate-1.2.1.min.js'>
        </script>
        <script type='text/javascript'>
            window.jQuery || document.write(
                "<script type='text/javascript' src='/js/jquery-migrate-1.2.1.js'><\/script>")
        </script>

        <script type='text/javascript' src='https://js.rbx2016.tk/0c76b6335f007581efc1e7446d528283.js'></script>
        <script type="text/javascript">
            if (Roblox && Roblox.EventStream) {
                Roblox.EventStream.Init("//ecsv2.rbx2016.tk/www/e.png",
                    "//ecsv2.rbx2016.tk/www/e.png",
                    "//ecsv2.rbx2016.tk/pe?t=studio",
                    "//ecsv2.rbx2016.tk/pe?t=diagnostic");
            }
        </script>

        <script type="text/javascript">
            $(function () {
                Roblox.JSErrorTracker.initialize({
                    'suppressConsoleError': true
                });
            });
        </script>
        <script type="text/javascript">
            if (typeof (Roblox) === "undefined") {
                Roblox = {};
            }
            Roblox.Endpoints = Roblox.Endpoints || {};
            Roblox.Endpoints.Urls = Roblox.Endpoints.Urls || {};
            Roblox.Endpoints.Urls['/api/item.ashx'] = 'https://www.rbx2016.tk/api/item.ashx';
            Roblox.Endpoints.Urls['/asset/'] = 'https://assetgame.rbx2016.tk/asset/';
            Roblox.Endpoints.Urls['/client-status/set'] = 'https://www.rbx2016.tk/client-status/set';
            Roblox.Endpoints.Urls['/client-status'] = 'https://www.rbx2016.tk/client-status';
            Roblox.Endpoints.Urls['/game/'] = 'https://assetgame.rbx2016.tk/game/';
            Roblox.Endpoints.Urls['/game-auth/getauthticket'] = 'https://www.rbx2016.tk/game-auth/getauthticket';
            Roblox.Endpoints.Urls['/game/edit.ashx'] = 'https://assetgame.rbx2016.tk/game/edit.ashx';
            Roblox.Endpoints.Urls['/game/getauthticket'] = 'https://assetgame.rbx2016.tk/game/getauthticket';
            Roblox.Endpoints.Urls['/game/placelauncher.ashx'] = 'https://assetgame.rbx2016.tk/game/placelauncher.ashx';
            Roblox.Endpoints.Urls['/game/preloader'] = 'https://assetgame.rbx2016.tk/game/preloader';
            Roblox.Endpoints.Urls['/game/report-stats'] = 'https://assetgame.rbx2016.tk/game/report-stats';
            Roblox.Endpoints.Urls['/game/report-event'] = 'https://assetgame.rbx2016.tk/game/report-event';
            Roblox.Endpoints.Urls['/game/updateprerollcount'] = 'https://assetgame.rbx2016.tk/game/updateprerollcount';
            Roblox.Endpoints.Urls['/login/default.aspx'] = 'https://www.rbx2016.tk/login/default.aspx';
            Roblox.Endpoints.Urls['/my/character.aspx'] = 'https://www.rbx2016.tk/my/character.aspx';
            Roblox.Endpoints.Urls['/my/money.aspx'] = 'https://www.rbx2016.tk/my/money.aspx';
            Roblox.Endpoints.Urls['/chat/chat'] = 'https://www.rbx2016.tk/chat/chat';
            Roblox.Endpoints.Urls['/presence/users'] = 'https://www.rbx2016.tk/presence/users';
            Roblox.Endpoints.Urls['/presence/user'] = 'https://www.rbx2016.tk/presence/user';
            Roblox.Endpoints.Urls['/friends/list'] = 'https://www.rbx2016.tk/friends/list';
            Roblox.Endpoints.Urls['/navigation/getCount'] = 'https://www.rbx2016.tk/navigation/getCount';
            Roblox.Endpoints.Urls['/catalog/browse.aspx'] = 'https://www.rbx2016.tk/catalog/browse.aspx';
            Roblox.Endpoints.Urls['/catalog/html'] = 'https://search.rbx2016.tk/catalog/html';
            Roblox.Endpoints.Urls['/catalog/json'] = 'https://search.rbx2016.tk/catalog/json';
            Roblox.Endpoints.Urls['/catalog/contents'] = 'https://search.rbx2016.tk/catalog/contents';
            Roblox.Endpoints.Urls['/catalog/lists.aspx'] = 'https://search.rbx2016.tk/catalog/lists.aspx';
            Roblox.Endpoints.Urls['/asset-hash-thumbnail/image'] =
                'https://assetgame.rbx2016.tk/asset-hash-thumbnail/image';
            Roblox.Endpoints.Urls['/asset-hash-thumbnail/json'] =
                'https://assetgame.rbx2016.tk/asset-hash-thumbnail/json';
            Roblox.Endpoints.Urls['/asset-thumbnail-3d/json'] = 'https://assetgame.rbx2016.tk/asset-thumbnail-3d/json';
            Roblox.Endpoints.Urls['/asset-thumbnail/image'] = 'https://assetgame.rbx2016.tk/asset-thumbnail/image';
            Roblox.Endpoints.Urls['/asset-thumbnail/json'] = 'https://assetgame.rbx2016.tk/asset-thumbnail/json';
            Roblox.Endpoints.Urls['/asset-thumbnail/url'] = 'https://assetgame.rbx2016.tk/asset-thumbnail/url';
            Roblox.Endpoints.Urls['/asset/request-thumbnail-fix'] =
                'https://assetgame.rbx2016.tk/asset/request-thumbnail-fix';
            Roblox.Endpoints.Urls['/avatar-thumbnail-3d/json'] = 'https://www.rbx2016.tk/avatar-thumbnail-3d/json';
            Roblox.Endpoints.Urls['/avatar-thumbnail/image'] = 'https://www.rbx2016.tk/avatar-thumbnail/image';
            Roblox.Endpoints.Urls['/avatar-thumbnail/json'] = 'https://www.rbx2016.tk/avatar-thumbnail/json';
            Roblox.Endpoints.Urls['/avatar-thumbnails'] = 'https://www.rbx2016.tk/avatar-thumbnails';
            Roblox.Endpoints.Urls['/avatar/request-thumbnail-fix'] =
                'https://www.rbx2016.tk/avatar/request-thumbnail-fix';
            Roblox.Endpoints.Urls['/bust-thumbnail/json'] = 'https://www.rbx2016.tk/bust-thumbnail/json';
            Roblox.Endpoints.Urls['/group-thumbnails'] = 'https://www.rbx2016.tk/group-thumbnails';
            Roblox.Endpoints.Urls['/groups/getprimarygroupinfo.ashx'] =
                'https://www.rbx2016.tk/groups/getprimarygroupinfo.ashx';
            Roblox.Endpoints.Urls['/headshot-thumbnail/json'] = 'https://www.rbx2016.tk/headshot-thumbnail/json';
            Roblox.Endpoints.Urls['/item-thumbnails'] = 'https://www.rbx2016.tk/item-thumbnails';
            Roblox.Endpoints.Urls['/outfit-thumbnail/json'] = 'https://www.rbx2016.tk/outfit-thumbnail/json';
            Roblox.Endpoints.Urls['/place-thumbnails'] = 'https://www.rbx2016.tk/place-thumbnails';
            Roblox.Endpoints.Urls['/thumbnail/asset/'] = 'https://www.rbx2016.tk/thumbnail/asset/';
            Roblox.Endpoints.Urls['/thumbnail/avatar-headshot'] = 'https://www.rbx2016.tk/thumbnail/avatar-headshot';
            Roblox.Endpoints.Urls['/thumbnail/avatar-headshots'] = 'https://www.rbx2016.tk/thumbnail/avatar-headshots';
            Roblox.Endpoints.Urls['/thumbnail/user-avatar'] = 'https://www.rbx2016.tk/thumbnail/user-avatar';
            Roblox.Endpoints.Urls['/thumbnail/resolve-hash'] = 'https://www.rbx2016.tk/thumbnail/resolve-hash';
            Roblox.Endpoints.Urls['/thumbnail/place'] = 'https://www.rbx2016.tk/thumbnail/place';
            Roblox.Endpoints.Urls['/thumbnail/get-asset-media'] = 'https://www.rbx2016.tk/thumbnail/get-asset-media';
            Roblox.Endpoints.Urls['/thumbnail/remove-asset-media'] =
                'https://www.rbx2016.tk/thumbnail/remove-asset-media';
            Roblox.Endpoints.Urls['/thumbnail/set-asset-media-sort-order'] =
                'https://www.rbx2016.tk/thumbnail/set-asset-media-sort-order';
            Roblox.Endpoints.Urls['/thumbnail/place-thumbnails'] = 'https://www.rbx2016.tk/thumbnail/place-thumbnails';
            Roblox.Endpoints.Urls['/thumbnail/place-thumbnails-partial'] =
                'https://www.rbx2016.tk/thumbnail/place-thumbnails-partial';
            Roblox.Endpoints.Urls['/thumbnail_holder/g'] = 'https://www.rbx2016.tk/thumbnail_holder/g';
            Roblox.Endpoints.Urls['/users/{id}/profile'] = 'https://www.rbx2016.tk/users/{id}/profile';
            Roblox.Endpoints.Urls['/service-workers/push-notifications'] =
                'https://www.rbx2016.tk/service-workers/push-notifications';
            Roblox.Endpoints.Urls['/notification-stream/notification-stream-data'] =
                'https://www.rbx2016.tk/notification-stream/notification-stream-data';
            Roblox.Endpoints.Urls['/api/friends/acceptfriendrequest'] =
                'https://www.rbx2016.tk/api/friends/acceptfriendrequest';
            Roblox.Endpoints.Urls['/api/friends/declinefriendrequest'] =
                'https://www.rbx2016.tk/api/friends/declinefriendrequest';
            Roblox.Endpoints.addCrossDomainOptionsToAllRequests = true;
        </script>

        <script type="text/javascript">
            if (typeof (Roblox) === "undefined") {
                Roblox = {};
            }
            Roblox.Endpoints = Roblox.Endpoints || {};
            Roblox.Endpoints.Urls = Roblox.Endpoints.Urls || {};
        </script>
        <script type="text/javascript">
            $(function () {
                $('.tooltip').tipsy();
                $('.tooltip-top').tipsy({
                    gravity: 's'
                });
                $('.tooltip-right').tipsy({
                    gravity: 'w'
                });
                $('.tooltip-left').tipsy({
                    gravity: 'e'
                });
                $('.tooltip-bottom').tipsy({
                    gravity: 'n'
                });
                $('.tooltip-right-html').tipsy({
                    gravity: 'w',
                    html: true,
                    delayOut: 1000
                });
                $('.tooltip-left-html').tipsy({
                    gravity: 'e',
                    html: true,
                    delayOut: 1000
                });
            });
        </script>
</head>

<body class=" cookie-constraint-body">
    <div id="roblox-linkify" data-enabled="true"
        data-regex="(https?\:\/\/)?(?:www\.)?([a-z0-9\-]{2,}\.)*(((m|de|www|web|api|blog|wiki|help|corp|polls|bloxcon|developer|devforum|forum)\.roblox\.com|robloxlabs\.com)|(www\.shoproblox\.com))((\/[A-Za-z0-9-+&amp;@#\/%?=~_|!:,.;]*)|(\b|\s))"
        data-regex-flags="gm" data-as-http-regex=""></div>
    <form name="aspnetForm" method="post" action="/Login/FulfillConstraint.aspx?" id="aspnetForm"
        class="nav-container no-gutter-ads">
        <div>
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE"
                value="Lb++SwYPuWYRKgD4hia4lL7kamS55wv7ALfJfAC/xJ64Ds7zwpnahbvyufHTvH571icDaSy0m8xtOux3KajDMnrAjqewiGXJ7QPt5nIp4ZzuJ831pQiQctbQCrEpTOxYq0oCQn+upo5O2KT0adCTr3unCDpE20bycmjn7zWYtTJjp3t75STjY7V/tVeT1E5aympcq1l9fP0n0JshtogZNnzIqos=" />
        </div>


        <script src="https://ajax.aspnetcdn.com/ajax/4.5.1/1/MicrosoftAjax.js" type="text/javascript"></script>
        <script type="text/javascript">
            //<![CDATA[
            (window.Sys && Sys._Application && Sys.Observer) || document.write(
                '<script type="text/javascript" src="/ScriptResource.axd?d=uHIkleVeDJf4xS50Krz-yA3kt4iEPLwQOcXDJXuiLb543xmSxgoBWyWb-0CTRrqRXPsCyYHFJoMX6TPqspOUhmvwRxW7JGKByJCuSKPDJkedBK4vZ68d-hQEQYwPVMjKP6tsCULlkgnx_6P0HwSsu1ZPvc01&t=ffffffff805766b3"><\/script>'
            ); //]]>
        </script>

        <div>

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="15E92DB9" />
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION"
                value="pyqAVkJpubCjgtYKXrf0ddbh0GPdy56RlyJbO7hLm1sMfC9oHxXSFEusOaXqCxXkKHiD/toRX2uxM/0FShTfkoTHOQBtNSEU4kTg12BeYi9UMm51vBHxjGqaj8JJfPlzs/bD612LrDG3E0il7nZlhEBpYKe73vL5QV8yTjaa47DZQUojm/hgynAGxXJqVrfckLyua6tjrNEOgma98rqYPfbEc6I/eM+SG8PeI4+JNrwN3qdK" />
        </div>



        <div id="navContent" class="nav-content">
            <div class="nav-content-inner">

                <div id="Container">
                    <div style="clear: both"></div>

                    <div id="Body" class="simple-body">

                        <div class="header">
                            <img id="imgRobloxTeam" src="https://images.rbx2016.tk/3a6c1b7385d6bf02a4e9b59e5091462c.jpg"
                                alt="Roblox Offline" />
                        </div>
                        <div id="cookie-constraint-container" class="content" data-refresh-rate="60000"
                            data-count-down-utc-time="10/13/2015 6:00:00 AM">
                            <p id="offlineTxt" class="notification">
                                The site is currently offline for maintenance and upgrades. <br />Please check back
                                soon!
                            </p>
                            <div class="cookie-constraint-form">
                                <input name="ctl00$cphRoblox$Textbox1" type="password" id="ctl00_cphRoblox_Textbox1"
                                    class="cookie-constraint-input" />
                                <input type="submit" name="ctl00$cphRoblox$Button1" value="R"
                                    id="ctl00_cphRoblox_Button1" class="cookie-constraint-btn" />
                                <input type="submit" name="ctl00$cphRoblox$Button2" value="O"
                                    id="ctl00_cphRoblox_Button2" class="cookie-constraint-btn" />
                                <input type="submit" name="ctl00$cphRoblox$Button3" value="B"
                                    id="ctl00_cphRoblox_Button3" class="cookie-constraint-btn" />
                                <input type="submit" name="ctl00$cphRoblox$Button4" value="L"
                                    id="ctl00_cphRoblox_Button4" class="cookie-constraint-btn" />
                                <input type="submit" name="ctl00$cphRoblox$Button5" value="O"
                                    id="ctl00_cphRoblox_Button5" class="cookie-constraint-btn" />
                                <input type="submit" name="ctl00$cphRoblox$Button6" value="X"
                                    id="ctl00_cphRoblox_Button6" class="cookie-constraint-btn" />
                            </div>
                            <div id="countDown" class="count-down">
                                <h1>Down time: </h1>
                                <h1 id="timer" class="timer"></h1>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="ConfirmationModal modalPopup unifiedModal smallModal" data-modal-handle="confirmation"
            style="display:none;">
            <a class="genericmodal-close ImageButton closeBtnCircle_20h"></a>
            <div class="Title"></div>
            <div class="GenericModalBody">
                <div class="TopBody">
                    <div class="ImageContainer roblox-item-image" data-image-size="small" data-no-overlays
                        data-no-click>
                        <img class="GenericModalImage" alt="generic image" />
                    </div>
                    <div class="Message"></div>
                </div>
                <div class="ConfirmationModalButtonContainer">
                    <a href id="roblox-confirm-btn"><span></span></a>
                    <a href id="roblox-decline-btn"><span></span></a>
                </div>
                <div class="ConfirmationModalFooter">

                </div>
            </div>
            <script type="text/javascript">
                Roblox = Roblox || {};
                Roblox.Resources = Roblox.Resources || {};

                //<sl:translate>
                Roblox.Resources.GenericConfirmation = {
                    yes: "Yes",
                    No: "No",
                    Confirm: "Confirm",
                    Cancel: "Cancel"
                };
                //</sl:translate>
            </script>
        </div>



        <script type="text/javascript">
            var Roblox = Roblox || {};
            Roblox.UpsellAdModal = Roblox.UpsellAdModal || {};

            Roblox.UpsellAdModal.Resources = {
                //<sl:translate>
                title: "Remove Ads Like This",
                body: "Builders Club members do not see external ads like these.",
                accept: "Upgrade Now",
                decline: "No, thanks"
                //</sl:translate>
            };
        </script>
        <script type="text/javascript">
            function urchinTracker() {};
            GoogleAnalyticsReplaceUrchinWithGAJS = true;
        </script>



    </form>
    <script type='text/javascript' src='https://js.rbx2016.tk/10f5b360dc268a5faf9e5620ec27c3d1.js'></script>

</body>

</html>