.dark *:not(span):not(img) {
    background: rgb(41, 41, 41);
    color: #ddd;
}

.dark {
    background: #222;
    color: #ddd;
}

.dark .container-fluid *:not(span):not(img) {
    background: #222;
    color: #ddd;
}

.dark .container-fluid {
    background: #222;
    color: #ddd;
}

.dark .content *:not(span):not(img) {
    background: #222;
    color: #ddd;
}

.dark .content {
    background: #222;
    color: #ddd;
}

.dark .rbx-selection-label {
    background: transparent;
    color: #ddd;
}

.dark .input-dropdown-btn {
    background: #333;
    color: #ddd;
}

.dark #Body {
    background: #333;
    color: #ddd;
}

.dark .dropdown-menu li:hover {
    background-color: #242424;
    box-shadow: 4px 0 0 0 #00A2FF inset;
    cursor: pointer;
}

.dark .menu-vertical .menu-option:hover {
    background-color: #242424;
    box-shadow: 4px 0 0 0 #00A2FF inset;
    cursor: pointer;
}

.dark .menu-vertical .menu-option:hover p {
    background-color: #242424;
}

.dark .menu-vertical .menu-option:hover a {
    background-color: #242424;
}

.dark .menu-vertical .menu-secondary-option:hover {
    background-color: #242424;
    box-shadow: 4px 0 0 0 #00A2FF inset;
    cursor: pointer;
}

.dark .menu-vertical .menu-secondary-option:hover p {
    background-color: #242424;
}

.dark .menu-vertical .menu-secondary-option:hover a {
    background-color: #242424;
}

.dark .dropdown-menu li:hover p {
    background-color: transparent;
}

.dark .dropdown-menu li:hover a {
    background-color: transparent;
}

.dark .rbx-header .rbx-navbar li .nav-menu-title:hover,
.dark .rbx-header .rbx-navbar li .nav-menu-title:focus {
    background-color: #191919;
    background-color: rgba(25, 25, 25, 0.35);
    border-radius: 5px;
}

.dark a:link {
    color: #bbb;
}

/* visited link */
.dark a:visited {
    color: #ddd;
}

/* mouse over link */
.dark a:hover {
    color: #eee;
}

/* selected link */
.dark a:active {
    color: #fff;
}

.dark #build-page .content-area .items-container .item-table .menu-col .gear-button-wrapper {
    background: transparent;
    color: #ddd;
    outline: none;
    border: none;
    border-radius: 0;
}

.dark .section-content {
    background: #333;
    color: #ddd;
}

.dark .tab-active {
    background-color: #333;
    color: #ddd;
}

.dark .tab-active:hover {
    background-color: #444;
    color: #ddd;
}

.dark #MyCreationsTabLink {
    background-color: #333;
    color: #ddd;
}
.dark #MyCreationsTabLink:hover {
    background-color: #444;
    color: #ddd;
}

.dark #LibraryTabLink {
    background-color: #333;
    color: #ddd;
}
.dark #LibraryTabLink:hover {
    background-color: #444;
    color: #ddd;
}

.dark #DevExTabLink {
    background-color: #333;
    color: #ddd;
}
.dark #DevExTabLink:hover {
    background-color: #444;
    color: #ddd;
}

.dark #build-page td.menu-area a.tab-item:not(.tab-item-disabled):hover {
    text-decoration: none;
    background-color: #454545;
}

.dark #build-page td.menu-area a.tab-item-disabled:hover {
    text-decoration: none;
    background-color: #3a3a3ae0;
}

.dark #build-page td.menu-area a.tab-item-disabled {
    opacity: .25;
}

.dark #build-page td.menu-area a.tab-item-selected {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    background-color: #333;
    padding: 4px 9px;
    font-weight: bold;
}