<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">

<head data-machine-id="WEB1164">
    <!-- MachineID: WEB1164 -->
    <title>My Published Projects</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,requiresActiveX=true" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Roblox Corporation" />
    <meta name="description" content="Roblox is a global platform that brings people together through play." />
    <meta name="keywords"
        content="free games, online games, building games, virtual worlds, free mmo, gaming cloud, physics engine" />

    <meta name="apple-itunes-app" content="app-id=431946152" />


    <meta ng-csp="no-unsafe-eval">


    <link href="https://images.rbx2016.tk/3b43a5c16ec359053fef735551716fc5.ico" rel="icon" />




    <link onerror='Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)' rel='stylesheet'
        href='https://static.rbx2016.tk/css/studio___ba96f96355edc213c980d3165004c6eb_m.css' />


    <link onerror='Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)' rel='stylesheet'
        href='https://static.rbx2016.tk/css/page___e17f46e42cdb181c95e3794817910952_m.css' />




    <script>
        //Set if it browser's do not track flag is enabled
        var Roblox = Roblox || {};
        (function () {
            var dnt = navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack;
            if (typeof window.external !== "undefined" &&
                typeof window.external.msTrackingProtectionEnabled !== "undefined") {
                dnt = dnt || window.external.msTrackingProtectionEnabled();
            }
            Roblox.browserDoNotTrack = dnt == "1" || dnt == "yes" || dnt === true;
        })();
    </script>




    <script onerror='Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)' data-monitor='true'
        data-bundlename='studio' type='text/javascript' src='https://js.rbx2016.tk/3719f3fb35135d05cf6b72d5b0f46333.js'>
    </script>
    <script type='text/javascript'>
        Roblox.config.externalResources = [];
        Roblox.config.paths['Pages.Catalog'] = 'https://js.rbx2016.tk/109d883fe3988fca757e26e341ed0fe8.js';
        Roblox.config.paths['Pages.CatalogShared'] = 'https://js.rbx2016.tk/33126cd3e259a404a2563594f55a3f06.js';
        Roblox.config.paths['Widgets.AvatarImage'] = 'https://js.rbx2016.tk/7d49ac94271bd506077acc9d0130eebb.js';
        Roblox.config.paths['Widgets.DropdownMenu'] = 'https://js.rbx2016.tk/da553e6b77b3d79bec37441b5fb317e7.js';
        Roblox.config.paths['Widgets.HierarchicalDropdown'] =
            'https://js.rbx2016.tk/4a0af9989732810851e9e12809aeb8ad.js';
        Roblox.config.paths['Widgets.ItemImage'] = 'https://js.rbx2016.tk/61a0490ba23afa17f9ecca2a079a6a57.js';
        Roblox.config.paths['Widgets.PlaceImage'] = 'https://js.rbx2016.tk/a6df74a754523e097cab747621643c98.js';
    </script>
    <script onerror='Roblox.BundleDetector && Roblox.BundleDetector.reportBundleError(this)' data-monitor='true'
        data-bundlename='page' type='text/javascript' src='https://js.rbx2016.tk/e7fb88614e7198627d26045fbbe63a8c.js'>
    </script>

    <script type="text/javascript">
        if (typeof (Roblox) === "undefined") {
            Roblox = {};
        }
        Roblox.Endpoints = Roblox.Endpoints || {};
        Roblox.Endpoints.Urls = Roblox.Endpoints.Urls || {};
        Roblox.Endpoints.Urls['/api/item.ashx'] = 'https://sitetest.rbx2016.tk/api/item.ashx';
        Roblox.Endpoints.Urls['/asset/'] = 'https://assetgame.rbx2016.tk/asset/';
        Roblox.Endpoints.Urls['/client-status/set'] = 'https://sitetest.rbx2016.tk/client-status/set';
        Roblox.Endpoints.Urls['/client-status'] = 'https://sitetest.rbx2016.tk/client-status';
        Roblox.Endpoints.Urls['/game/'] = 'https://assetgame.rbx2016.tk/game/';
        Roblox.Endpoints.Urls['/game-auth/getauthticket'] = 'https://sitetest.rbx2016.tk/game-auth/getauthticket';
        Roblox.Endpoints.Urls['/game/edit.ashx'] = 'https://assetgame.rbx2016.tk/game/edit.ashx';
        Roblox.Endpoints.Urls['/game/getauthticket'] = 'https://assetgame.rbx2016.tk/game/getauthticket';
        Roblox.Endpoints.Urls['/game/placelauncher.ashx'] = 'https://assetgame.rbx2016.tk/game/placelauncher.ashx';
        Roblox.Endpoints.Urls['/game/preloader'] = 'https://assetgame.rbx2016.tk/game/preloader';
        Roblox.Endpoints.Urls['/game/report-stats'] = 'https://assetgame.rbx2016.tk/game/report-stats';
        Roblox.Endpoints.Urls['/game/report-event'] = 'https://assetgame.rbx2016.tk/game/report-event';
        Roblox.Endpoints.Urls['/game/updateprerollcount'] = 'https://assetgame.rbx2016.tk/game/updateprerollcount';
        Roblox.Endpoints.Urls['/login/default.aspx'] = 'https://sitetest.rbx2016.tk/login/default.aspx';
        Roblox.Endpoints.Urls['/my/character.aspx'] = 'https://sitetest.rbx2016.tk/my/character.aspx';
        Roblox.Endpoints.Urls['/my/money.aspx'] = 'https://sitetest.rbx2016.tk/my/money.aspx';
        Roblox.Endpoints.Urls['/chat/chat'] = 'https://sitetest.rbx2016.tk/chat/chat';
        Roblox.Endpoints.Urls['/presence/users'] = 'https://sitetest.rbx2016.tk/presence/users';
        Roblox.Endpoints.Urls['/presence/user'] = 'https://sitetest.rbx2016.tk/presence/user';
        Roblox.Endpoints.Urls['/friends/list'] = 'https://sitetest.rbx2016.tk/friends/list';
        Roblox.Endpoints.Urls['/navigation/getCount'] = 'https://sitetest.rbx2016.tk/navigation/getCount';
        Roblox.Endpoints.Urls['/catalog/browse.aspx'] = 'https://sitetest.rbx2016.tk/catalog/browse.aspx';
        Roblox.Endpoints.Urls['/catalog/html'] = 'https://search.rbx2016.tk/catalog/html';
        Roblox.Endpoints.Urls['/catalog/json'] = 'https://search.rbx2016.tk/catalog/json';
        Roblox.Endpoints.Urls['/catalog/contents'] = 'https://search.rbx2016.tk/catalog/contents';
        Roblox.Endpoints.Urls['/catalog/lists.aspx'] = 'https://search.rbx2016.tk/catalog/lists.aspx';
        Roblox.Endpoints.Urls['/asset-hash-thumbnail/image'] = 'https://assetgame.rbx2016.tk/asset-hash-thumbnail/image';
        Roblox.Endpoints.Urls['/asset-hash-thumbnail/json'] = 'https://assetgame.rbx2016.tk/asset-hash-thumbnail/json';
        Roblox.Endpoints.Urls['/asset-thumbnail-3d/json'] = 'https://assetgame.rbx2016.tk/asset-thumbnail-3d/json';
        Roblox.Endpoints.Urls['/asset-thumbnail/image'] = 'https://assetgame.rbx2016.tk/asset-thumbnail/image';
        Roblox.Endpoints.Urls['/asset-thumbnail/json'] = 'https://assetgame.rbx2016.tk/asset-thumbnail/json';
        Roblox.Endpoints.Urls['/asset-thumbnail/url'] = 'https://assetgame.rbx2016.tk/asset-thumbnail/url';
        Roblox.Endpoints.Urls['/asset/request-thumbnail-fix'] =
        'https://assetgame.rbx2016.tk/asset/request-thumbnail-fix';
        Roblox.Endpoints.Urls['/avatar-thumbnail-3d/json'] = 'https://sitetest.rbx2016.tk/avatar-thumbnail-3d/json';
        Roblox.Endpoints.Urls['/avatar-thumbnail/image'] = 'https://sitetest.rbx2016.tk/avatar-thumbnail/image';
        Roblox.Endpoints.Urls['/avatar-thumbnail/json'] = 'https://sitetest.rbx2016.tk/avatar-thumbnail/json';
        Roblox.Endpoints.Urls['/avatar-thumbnails'] = 'https://sitetest.rbx2016.tk/avatar-thumbnails';
        Roblox.Endpoints.Urls['/avatar/request-thumbnail-fix'] = 'https://sitetest.rbx2016.tk/avatar/request-thumbnail-fix';
        Roblox.Endpoints.Urls['/bust-thumbnail/json'] = 'https://sitetest.rbx2016.tk/bust-thumbnail/json';
        Roblox.Endpoints.Urls['/group-thumbnails'] = 'https://sitetest.rbx2016.tk/group-thumbnails';
        Roblox.Endpoints.Urls['/groups/getprimarygroupinfo.ashx'] =
            'https://sitetest.rbx2016.tk/groups/getprimarygroupinfo.ashx';
        Roblox.Endpoints.Urls['/headshot-thumbnail/json'] = 'https://sitetest.rbx2016.tk/headshot-thumbnail/json';
        Roblox.Endpoints.Urls['/item-thumbnails'] = 'https://sitetest.rbx2016.tk/item-thumbnails';
        Roblox.Endpoints.Urls['/outfit-thumbnail/json'] = 'https://sitetest.rbx2016.tk/outfit-thumbnail/json';
        Roblox.Endpoints.Urls['/place-thumbnails'] = 'https://sitetest.rbx2016.tk/place-thumbnails';
        Roblox.Endpoints.Urls['/thumbnail/asset/'] = 'https://sitetest.rbx2016.tk/thumbnail/asset/';
        Roblox.Endpoints.Urls['/thumbnail/avatar-headshot'] = 'https://sitetest.rbx2016.tk/thumbnail/avatar-headshot';
        Roblox.Endpoints.Urls['/thumbnail/avatar-headshots'] = 'https://sitetest.rbx2016.tk/thumbnail/avatar-headshots';
        Roblox.Endpoints.Urls['/thumbnail/user-avatar'] = 'https://sitetest.rbx2016.tk/thumbnail/user-avatar';
        Roblox.Endpoints.Urls['/thumbnail/resolve-hash'] = 'https://sitetest.rbx2016.tk/thumbnail/resolve-hash';
        Roblox.Endpoints.Urls['/thumbnail/place'] = 'https://sitetest.rbx2016.tk/thumbnail/place';
        Roblox.Endpoints.Urls['/thumbnail/get-asset-media'] = 'https://sitetest.rbx2016.tk/thumbnail/get-asset-media';
        Roblox.Endpoints.Urls['/thumbnail/remove-asset-media'] = 'https://sitetest.rbx2016.tk/thumbnail/remove-asset-media';
        Roblox.Endpoints.Urls['/thumbnail/set-asset-media-sort-order'] =
            'https://sitetest.rbx2016.tk/thumbnail/set-asset-media-sort-order';
        Roblox.Endpoints.Urls['/thumbnail/place-thumbnails'] = 'https://sitetest.rbx2016.tk/thumbnail/place-thumbnails';
        Roblox.Endpoints.Urls['/thumbnail/place-thumbnails-partial'] =
            'https://sitetest.rbx2016.tk/thumbnail/place-thumbnails-partial';
        Roblox.Endpoints.Urls['/thumbnail_holder/g'] = 'https://sitetest.rbx2016.tk/thumbnail_holder/g';
        Roblox.Endpoints.Urls['/users/{id}/profile'] = 'https://sitetest.rbx2016.tk/users/{id}/profile';
        Roblox.Endpoints.Urls['/service-workers/push-notifications'] =
            'https://sitetest.rbx2016.tk/service-workers/push-notifications';
        Roblox.Endpoints.Urls['/notification-stream/notification-stream-data'] =
            'https://sitetest.rbx2016.tk/notification-stream/notification-stream-data';
        Roblox.Endpoints.Urls['/api/friends/acceptfriendrequest'] =
            'https://sitetest.rbx2016.tk/api/friends/acceptfriendrequest';
        Roblox.Endpoints.Urls['/api/friends/declinefriendrequest'] =
            'https://sitetest.rbx2016.tk/api/friends/declinefriendrequest';
        Roblox.Endpoints.addCrossDomainOptionsToAllRequests = true;
    </script>

    <script type="text/javascript">
        if (typeof (Roblox) === "undefined") {
            Roblox = {};
        }
        Roblox.Endpoints = Roblox.Endpoints || {};
        Roblox.Endpoints.Urls = Roblox.Endpoints.Urls || {};
    </script>
    <input name="__RequestVerificationToken" type="hidden"
        value="<%= xcsrftoken %>" />
</head>

<body>




    <div id="MyCreationsTab" class="boxed-body">
        <div class="BuildPageContent content" data-gear-menu-enabled="True">


            <input id="assetTypeId" name="assetTypeId" type="hidden" value="9" />

            <table id="build-page" data-asset-type-id="9" data-edit-opens-studio="False">
                <tr>
                    <td class="menu-area divider-right">


                        <a href="https://sitetest.rbx2016.tk/develop?View=9" class="tab-item tab-item-selected">Places</a>
                    </td>

                    <td class="content-area ">
                        <table class="section-header">
                            <tr>
                                <td class="content-title">
                                    <div>

                                        <h2 class="header-text">Places</h2>
                                    </div>
                                </td>
                                <td>
                                    <div class="creation-context-filters-and-sorts"
                                        data-fetchplaceurl="/build/gamesbycontext">
                                        <div class="option">
                                            <label class="sort-label">Created by:</label>
                                            <select class="place-creationcontext-drop-down" size="1">
                                                <option value="NonGameCreation">
                                                    Me
                                                </option>
                                                <option value="GameAuthorsCreation">My Games</option>
                                                <option value="NonGameAuthorsCreation">Other Games</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="creation-context-breadcrumb" style="display: none">
                                <td style="height: 21px;">
                                    <div class="breadCrumb creation-context-breadcrumb">
                                        <a href="#breadcrumbs=gamecontext" class="breadCrumbContext">Context</a>
                                        <span class="context-game-separator" style="display: none"> » </span>
                                        <a href="#breadcrumbs=game" class="breadCrumbGame"
                                            style="display: none">Game</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="items-container games-container">


                            <span id="verifiedEmail" style="display: none"></span>
                            <span id="assetLinks" style="display:none" data-asset-links-enabled="False"></span>

                            <%- games %>
                    </td>
                </tr>
            </table>

            <div id="build-dropdown-menu">
                <a href="#" data-href-template="">Configure Place</a>
                <a href="#" data-href-reference="developerstats-url" data-gameonly-link="true">Developer Stats</a>
                <a class="shutdown-all-servers-button" href="#">Shut Down All Servers</a>
            </div>


            <div class="GenericModal modalPopup unifiedModal smallModal" style="display: none;">
                <div class="Title"></div>
                <div class="GenericModalBody">
                    <div>
                        <div class="ImageContainer">
                            <img class="GenericModalImage" alt="generic image" />
                        </div>
                        <div class="Message"></div>
                    </div>
                    <div class="GenericModalButtonContainer">
                        <a class="ImageButton btn-neutral btn-large roblox-ok">OK</a>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                Roblox = Roblox || {};
                Roblox.BuildPage = Roblox.BuildPage || {};
                Roblox.BuildPage.AlertURL = "https://images.rbx2016.tk/43ac54175f3f3cd403536fedd9170c10.png";
            </script>

        </div>
        <div class="footer-button-container divider-top">
            <a class="btn-medium btn-negative" id="closeButton">Close</a>
        </div>
    </div>

    <script type="text/javascript">
        if (typeof Roblox === "undefined") {
            Roblox = {};
        }
        if (typeof Roblox.BuildPage === "undefined") {
            Roblox.BuildPage = {};
        }
        Roblox.BuildPage.Resources = {
            active: "Public",
            inactive: "Private",
            activatePlace: "Make Place Public",
            editGame: "Edit Game",
            ok: "OK",
            robloxStudio: "Roblox Studio",
            openIn: "To edit this Game, open to this page in ",
            placeInactive: "Make Place Private",
            toBuileHere: "To build here, please activate this place by clicking the ",
            inactiveButton: "Inactive button. ",
            createModel: "Create Model",
            toCreate: "To create models, please use ",
            makeActive: "Make Public",
            makeInactive: "Make Private",
            purchaseComplete: "Purchase Complete!",
            youHaveBid: "You have successfully bid ",
            confirmBid: "Confirm the Bid",
            placeBid: "Place Bid",
            cancel: "Cancel",
            errorOccurred: "Error Occurred",
            adDeleted: "Ad Deleted",
            theAdWasDeleted: "The Ad has been deleted.",
            confirmDelete: "Confirm Deletion",
            areYouSureDelete: "Are you sure you want to delete this Ad?",
            bidRejected: "Your bid was Rejected",
            bidRange: "Bid value must be a number between ",
            bidRange2: "Bid value must be a number greater than ",
            and: " and ",
            yourRejected: "Your bid was Rejected",
            estimatorExplanation: "This estimator uses data from ads run yesterday to guess how many impressions your ad will recieve.",
            estimatedImpressions: "Estimated Impressions ",
            makeAdBid: "Make Ad Bid",
            wouldYouLikeToBid: "Would you like to bid ",
            verify: "Verify",
            emailVerifiedTitle: "Verify Your Email",
            emailVerifiedMessage: "You must verify your email before you can work on your place. You can verify your email on the <a href='https://sitetest.rbx2016.tk/my/account?confirmemail=1'>Account</a> page.",
            continueText: "Continue",
            profileRemoveTitle: "Remove from profile?",
            profileRemoveMessage: "This Game is private and listed on your profile, do you wish to remove it?",
            profileAddTitle: "Add to profile?",
            profileAddMessage: "This Game is public, but not listed on your profile, do you wish to add it?",
            deactivateTitle: "Make Game Private",
            deactivateBody: "This will shut down any active servers <br /><br />Do you still want to make this Game private?",
            deactivateButton: "Make Private",
            questionmarkImgUrl: "https://static.rbx2016.tk/images/Buttons/questionmark-12x12.png",
            activationRequestFailed: "Request to make Game public failed. Please retry in a few minutes!",
            deactivationRequestFailed: "Request to make Game private failed. Please retry in a few minutes!",
            tooManyActiveMessage: "You have reached the maximum number of public places for your membership level. Make one of your existing places private before making this place public.",
            activeSlotsMessage: "{0} of {1} public slots used"
        };
    </script>



    <script type="text/javascript">
        function urchinTracker() {}
    </script>


    <div class="ConfirmationModal modalPopup unifiedModal smallModal" data-modal-handle="confirmation"
        style="display:none;">
        <a class="genericmodal-close ImageButton closeBtnCircle_20h"></a>
        <div class="Title"></div>
        <div class="GenericModalBody">
            <div class="TopBody">
                <div class="ImageContainer roblox-item-image" data-image-size="small" data-no-overlays data-no-click>
                    <img class="GenericModalImage" alt="generic image" />
                </div>
                <div class="Message"></div>
            </div>
            <div class="ConfirmationModalButtonContainer GenericModalButtonContainer">
                <a href id="roblox-confirm-btn"><span></span></a>
                <a href id="roblox-decline-btn"><span></span></a>
            </div>
            <div class="ConfirmationModalFooter">

            </div>
        </div>
        <script type="text/javascript">
            Roblox = Roblox || {};
            Roblox.Resources = Roblox.Resources || {};

            Roblox.Resources.GenericConfirmation = {
                yes: "Yes",
                No: "No",
                Confirm: "Confirm",
                Cancel: "Cancel"
            };
        </script>
    </div>


</body>

</html>