<html>

<head>
    <title>
        ROBLOX - a kids, parents, and family activity site for building toy amusement
        parks, rc cars, clothing, and electronic devices out of construction blocks that
        are as realistic as a movie or tv show
    </title>
    <style type="text/css">
        body {
            margin: 0;
        }

        body.banner {
            text-align: center;
        }

        a {
            color: gray;
            text-decoration: none;
        }

        a.ad {
            display: inline-block;
        }

        body.other a.ad {
            display: block;
        }

        a.ad img {
            display: block;
            border: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>

    <link rel="stylesheet" href="https://static.rbx2016.nl/css/page___b483ab74e2160d304742067e283b7b51_m.css">

</head>

<body class="abp banner">
    <a class="ad" title="<%= adtitle %>" href="<%= adurl %>"
        target="_top">
        <img src="<%= adimg %>"
            alt="<%= adtitle %>" height="90" width="728">
    </a>

    <div class="ad-annotations " style="width: 728px">
        <span class="ad-identification">Advertisement</span>
    </div>

</body>

</html>