<html>

<head>
    <title>
        rbx2016.tk
    </title>
    <style type="text/css">
        body {
            margin: 0;
        }

        body.banner {
            text-align: center;
        }

        a {
            color: gray;
            text-decoration: none;
        }

        a.ad {
            display: inline-block;
        }

        body.other a.ad {
            display: block;
        }

        a.ad img {
            display: block;
            border: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>

    <link rel="stylesheet" href="https://static.rbx2016.tk/css/page___b483ab74e2160d304742067e283b7b51_m.css">
</head>

<body class="abp other">
    <a class="ad" title="<%= adtitle %>" href="<%= adurl %>"
        target="_top">:
        <img src="<%= adimg %>"
            alt="<%= adtitle %>" height="250" width="300">
    </a>

    <div class="ad-annotations " style="width: 300px">
        <span class="ad-identification">Advertisement</span>
    </div>

</body>

</html>